body {
  font-family: Arial, Helvetica, sans-serif;
  background: #666666;
}

#content {
  width: 450px;
  margin: 10px auto;
  padding: 5px 20px;
  background: #FFFFFF;
  border: 1px solid #000000;
}

label{
  display: block;
  width: 10em;
  text-align: right;
  padding-right: 1em;
  float: left;
}

input {
  display: block;
  width: 15em;
  float: left;
}

.operators {
  width: 15em;
  margin: 0 auto;
}

br {
  clear: left;
}

.hidden {
  visibility: hidden;
}

.show {
  visibility: visible;
}
